$primary: #1f2022;
$secondary: #00adb5;

$nav-link-font-size: 1.25rem;

$navbar-light-color: #fff;
$navbar-light-brand-color: #fff;
$navbar-light-brand-hover-color: #fff;
$navbar-light-active-color: $secondary;
$navbar-light-hover-color: $secondary;

$modal-content-border-radius: 0;

$form-label-color: #fff;

$img-width-height: 22rem;
.img-width-height {
  width: $img-width-height;
  height: $img-width-height;
}
